<h5 class="text-center">Customers</h5>
<div>
  <div class="table">
    <thead class="text-center">
      <tr>
        <th scope="row">Id</th>
        <th scope="row">First Name</th>
        <th scope="row">Last Name</th>
        <th scope="row">Email</th>
        <th scope="row">Active</th>
        <th scope="row">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{ customer.id }}</th>
        <td scope="row">{{ customer.firstName }}</td>
        <td scope="row">{{ customer.lastName }}</td>
        <td scope="row">{{customer.email}}</td>
        <td scope="row" [ngStyle]="checkActive(customer)">{{customer.active}}</td>
        <td><button class="btn btn-warning btn-sm">Details</button></td>
      </tr>
      </tbody>
  </div>
</div>
